body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 24px;
    color: #4caf50;
    margin-bottom: 20px;
}

.p-m-4 {
    padding: 20px;
}

button {
    margin: 0 5px;
}

/* PrimeReact overrides */
.p-button {
    margin: 5px;
}

.p-datatable {
    margin-top: 20px;
}

.p-dialog .p-fluid .p-field {
    margin-bottom: 20px;
}
